/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
    font-size: 48px;

}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white;
    display: block;
}
body{
    font-family: 'Comic Neue', cursive;

}
*, 
*::before,
*::after{
    box-sizing: border-box;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),url('./img/hero.jpg');
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    height: 760px;   
    color: white;
    font-weight: 300;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header {
    padding: 20px;
}
.left{
    float: left;
}
.right{
float: right;
}
.cf::before,
.cf::after {
    content: '';
    display: table;
}

.cf::after {
    clear: both;
}


.nav li{
display: inline-block;
padding: 0 25px;
text-align: center;
}
.hero-heading{
    position: absolute;
    top: 35%;
    left: 30%;
    text-align: center;
}
.hero-heading h1{
    padding: 25px;
}
.hr{
    border-top: 2px solid #f2f2f2f2;
    width: 8rem;
    text-align: center;
 }
button{
    background-color: #4797ec;
    box-shadow: 0 0.5rem 1.75rem 0 rgba(0, 0, 0, 0.25);
    min-width: 13rem;
    color: white;
    border: none;
    height: 48px;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    margin: 25px;
 }
 .blue{
    border-top: 2px solid blue;

 }
 .special{
     text-align: center;
     padding: 120px 0px;
 }
 .special hr{
     margin: 20px auto;
 }
  .col-1{
      display: inline-block;
      width: 50%;
      text-align: center;
  }
  .col-2{
      display: inline-block;
      width: 48%;
       vertical-align: top;


  }
  .col-1 img{
      width: 100%;
      border-radius: 100%;
      box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
   }
   
  .content{
      margin-top: 120px;
      padding: 66px ;
      line-height: 1.6;
  }
  .content hr{
    margin: 20px 0px;
  }
  .col-1 h3{
      padding-top: 30px;
  }

  .portfolio{
    background-color: #4797ec;
   }