/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 48px;

}

h2 {
    font-size: 36px;
    font-weight: 200;
}

h3 {
    font-size: 24px;
    font-weight: 200;
}

p {
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 400;
}

body {
     font-family: 'Lato', sans-serif;


}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.hero::before{
    background-color: #4797ec;
    background-image: linear-gradient(90deg, rgba(71, 151, 236, 0), #884beb 90%);
    background-size: auto, auto;
    background-repeat: repeat, no-repeat;
    content: '';
    display: block;
    height: 0.75rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.hero::after{  
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxOTAwJyBoZWlnaHQ9JzE1MCcgdmlld0JveD0nMCAwIDE5MDAgMTUwJyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSdub25lJz48cGF0aCBkPSdNMCwyNS43QzI0My40LDg0LDU5Ni43LDE1MCw5NTAsMTUwYzM1My4zLDAsNzA2LjYtNjYsOTUwLTEyNC4zVjE1MEgwVjI1Ljd6JyBmaWxsPScjZmZmZmZmJy8+PC9zdmc+);
    background-size: 100% 100%;
    background-position: center;
    bottom: -7px;
    content: '';
    height: 13rem;
    left: 0;
    position: absolute;
    width: 100%;
    box-shadow: inset 0 -1px 0 0 #ffffff;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./img/hero.jpg');
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    height: 760px;
    color: white;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 20px;
}



/* Clearfix */

.cf::before,
.cf::after {
    content: '';
    display: table;
}

.cf::after {
    clear: both;
}
.left {
    float: left;
}

.right {
    float: right;
}


.nav li {
    display: inline-block;
    padding: 0 25px;
    text-align: center;
}

.hero-heading {
    position: absolute;
    top: 35%;
    left: 30%;
    text-align: center;
}

.hero-heading h1 {
    padding: 25px;
}

.hr {
    border-top: 1px solid #f2f2f2f2;
    width: 8rem;
    text-align: center;
}

button {
    background-color: #4797ec;
    box-shadow: 0 0.5rem 1.75rem 0 rgba(0, 0, 0, 0.25);
    min-width: 13rem;
    color: white;
    border: none;
    height: 48px;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    margin: 25px;
    cursor: pointer;
}

.blue {
    border-top: 1px solid blue;

}

.special {
    text-align: center;
    padding: 120px 0px;
}

.special hr {
    margin: 20px auto;
}

.col-1 {
    display: inline-block;
    width: 35%;
    text-align: center;
 }

.col-2 {
    display: inline-block;
    width: 64%;
    vertical-align: top;


}

 
.profile2{
    margin-top: 120px;
}

.col-1 img {
    width: 60%;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
}

.content {
    margin-top: 50px;
    padding: 5px;
    line-height: 2;
    padding-left: 66px;
}

.content hr {
    margin: 20px 0px;
}
.content h3 {
    font-weight: bold;
}
  

.col-1 h3 {
    padding-top: 30px;
    
}
 
.portfolio::after{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxOTAwJyBoZWlnaHQ9JzE1MCcgdmlld0JveD0nMCAwIDE5MDAgMTUwJyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSdub25lJz48cGF0aCBkPSdNMCwyNS43QzI0My40LDg0LDU5Ni43LDE1MCw5NTAsMTUwYzM1My4zLDAsNzA2LjYtNjYsOTUwLTEyNC4zVjE1MEgwVjI1Ljd6JyBmaWxsPScjZmZmZmZmJy8+PC9zdmc+);
    background-size: 100% 100%;
    background-position: center;
     content: '';
    height: 8rem;
    left: 0;
    position: absolute;
    width: 100%;
    box-shadow: inset 0 -1px 0 0 #ffffff;
}

.portfolio {
      background-color: #4797ec;
      margin-top: 66px;
       width: 100%;
      
}


.portfolio h3 {
    padding: 66px;
}

.portfolio hr {
    margin-top: 40px;
}



.portfolio header {
    text-align: center;
    color: white;
    padding: 120px 0;
    margin-top: 180px;
}
.news {
    text-align: center;
    padding: 180px;
 }
 
 
footer::before{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxOTAwJyBoZWlnaHQ9JzE1MCcgdmlld0JveD0nMCAwIDE5MDAgMTUwJyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSdub25lJz48cGF0aCBkPSdNMCwyNS43QzI0My40LDg0LDU5Ni43LDE1MCw5NTAsMTUwYzM1My4zLDAsNzA2LjYtNjYsOTUwLTEyNC4zVjE1MEgwVjI1Ljd6JyBmaWxsPScjZmZmZmZmJy8+PC9zdmc+");
     background-size: 100% 100%;
    background-position: center;
    content: '';
    top: -1;
    transform: scaleY(-1);
    height:8rem;
    left: 0;
    position: absolute;
    width: 100%;
     box-shadow: inset 0 -1px 0 0 #ffffff;
}
 
footer{
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('./img/hero.jpg');
     background-attachment: fixed;
     background-size: cover;
     background-position-x: unset;
      
 }

.social ul{
    text-align: center;
}
.social li{
display: inline-block;
text-align: center;
margin: 66px 0;
padding: 66px 0px 0px 25px;
font-size: 36px;
}
.social li a{
    border: 2px solid white;
    border-radius: 50%;
    padding: 20px;


}
.copyright{
    color: white;
    text-align: center;
    padding-top: 20px;
}